<header class="header">
  <div class="header__inner">
    <a href="#">
      <img class="header__logo" src="{{site.theme.link}}/dist/images/logo.jpg" alt="Park Avenue Synagogue Logo" />
    </a>
    <nav class="header__nav">
      <a href="#watch" class="header__watch"><span>WATCH <br/> HIGH HOLIDAYS <br/> SERVICES</span></a>
      <a href="{{header_links.main_high_holidays_link}}" target="_blank"><span>GO TO <br/> HIGH HOLIDAYS <br/> MAIN PAGE</span></a> 
      <a href="#" id="show-schedule">HIGH HOLIDAYS <br/> SCHEDULE</a>
      <div class="header__donate-wrapper">
        <a href="{{header_links.donate_link}}" target="_blank" class="box-button"><span>Donate</span></a>
      </div>
    </nav>
    <button class="header__mobile-trigger">Menu</button>
  </div>
  
</header>