<div class="calendar">
  <div class="calendar__month">
    <div class="calendar__month__title">August 2020</div>
    <div class="calendar__month__rows">
      <div class="week week--headings">
        <div class="heading">S</div><div class="heading">M</div><div class="heading">T</div><div class="heading">W</div><div class="heading">T</div><div class="heading">F</div><div class="heading">S</div>
      </div>
      <div class="week">
        <div class="day"></div><div class="day"></div><div class="day"></div><div class="day"></div><div class="day"></div><div class="day"></div><div class="day">1</div>
      </div>
      <div class="week">
        <div class="day">2</div><div class="day">3</div><div class="day">4</div><div class="day">5</div><div class="day">6</div><div class="day">7</div><div class="day">9</div>
      </div>
      <div class="week">
        <div class="day">9</div><div class="day">10</div><div class="day">11</div><div class="day">12</div><div class="day">13</div><div class="day">14</div><div class="day">15</div>
      </div>
      <div class="week">
        <div class="day">16</div><div class="day">17</div><div class="day">18</div><div class="day">19</div><div class="day">20</div><div class="day day--elul" data-link="08-21">21</div><div class="day day--elul" data-link="08-22">22</div>
      </div>
      <div class="week">
        <div class="day day--elul" data-link="08-23">23</div><div class="day day--elul" data-link="08-24">24</div><div class="day day--elul" data-link="08-25">25</div><div class="day day--elul" data-link="08-26">26</div><div class="day day--elul" data-link="08-27">27</div><div class="day day--elul" data-link="08-28">28</div><div class="day day--elul" data-link="08-29">29</div>
      </div>
      <div class="week">
        <div class="day day--elul" data-link="08-21">30</div><div class="day day--elul" data-link="08-21">31</div><div class="day"></div><div class="day"></div><div class="day"></div><div class="day"></div><div class="day"></div>
      </div>
      
    </div>
  </div>
  <div class="calendar__month">
    <div class="calendar__month__title">September 2020</div>
    <div class="calendar__month__rows">
      <div class="week week--headings">
        <div class="heading">S</div><div class="heading">M</div><div class="heading">T</div><div class="heading">W</div><div class="heading">T</div><div class="heading">F</div><div class="heading">S</div>
      </div>
      
      <div class="week">
        <div class="day"></div><div class="day"></div><div class="day day--elul" data-link="09-01">1</div><div class="day day--elul" data-link="09-02">2</div><div class="day day--elul" data-link="09-03">3</div><div class="day day--elul" data-link="09-04">4</div><div class="day day--elul" data-link="09-05">5</div>
      </div>
      <div class="week">
        <div class="day day--elul" data-link="09-06">6</div><div class="day day--elul" data-link="09-07">7</div><div class="day day--elul" data-link="09-08">8</div><div class="day day--elul" data-link="09-09">9</div><div class="day day--elul" data-link="09-10">10</div><div class="day day--elul" data-link="09-11">11</div><div class="day day--elul" data-link="09-12">12</div>
      </div>
      <div class="week">
        <div class="day day--elul" data-link="09-13">13</div><div class="day day--elul" data-link="09-14">14</div><div class="day day--elul" data-link="09-15">15</div><div class="day day--elul" data-link="09-16">16</div><div class="day day--elul" data-link="09-17">17</div><div class="day day--rosh" data-link="09-18">18</div><div class="day day--rosh" data-link="09-19">19</div>
      </div>
      <div class="week">
        <div class="day day--rosh" data-link="09-20">20</div><div class="day" data-link="08-21">21</div><div class="day" data-link="08-22">22</div><div class="day">23</div><div class="day">24</div><div class="day">25</div><div class="day">26</div>
      </div>
      <div class="week">
        <div class="day day--yom" data-link="09-27">27</div><div class="day day--yom" data-link="09-28">28</div><div class="day">29</div><div class="day">30</div><div class="day"></div><div class="day"></div><div class="day"></div>
      </div>
      
    </div>
  </div>

  <div class="calendar__keys">
    <div class="calendar__key calendar__key--elul"><span>Elul</span></div>
    <div class="calendar__key calendar__key--rosh-hoshanah"><span>Rosh Hashanah</span></div>
    <div class="calendar__key calendar__key--yom-kippur"><span>Yom Kippur</span></div>
  </div>
</div>