<nav class="mobile-nav">
  <button class="mobile-nav__close">
    {% include 'partial/svgs/close.twig' %}
  </button>
  <div class="mobile-nav__logo">
    <img src="{{site.theme.link}}/dist/images/PAS_logo_gold.png" alt="Park Avenue Synagogue Logo" />
  </div>
  <div class="mobile-nav__options">
    <button class="mobile-nav__accordion-trigger" id="schedule-trigger">
      <span>ELUL and high holiday<br/>schedule</span>
      <div class="mobile-nav__accordion-mover">
        <span>high holidays<br/>schedule</span>
        {% include 'partial/svgs/down_caret.twig' %}
      </div>
    </button>
    <div class="mobile-nav__accordion-content" id="schedule-content">
      {% include 'partial/schedule_list.twig' %}
    </div>
    <a class="big-button" href="#watch">watch <br/> high holidays <br/> services</a>
    <button class="mobile-nav__accordion-trigger" id="help-trigger">
      <span>ALL YOUR QUESTIONS<br/> ANSWERED</span>
      <div class="mobile-nav__accordion-mover">
        <span>ALL YOUR QUESTIONS<br/> ANSWERED</span>
        {% include 'partial/svgs/down_caret.twig' %}
      </div>
    </button>
    <div class="mobile-nav__accordion-content" id="help-content">
      {% include 'partial/help_questions.twig' %}
    </div>
    <a  class="big-button" href="{{header_links.main_high_holidays_link}}" target="_blank">go to <br/> high holiday <br/> main page</a>
    <div class="mobile-nav__donate-wrapper">
      <a href="{{header_links.donate_link}}" target="_blank" class="box-button"><span>Donate</span></a>
    </div>
  </div>
  {% include 'footer.twig'  with {'hideHelp': true} %}

</nav>