<div id="vimeo-modal" class="modal modal--vimeo">
  <div class="modal__backdrop modal--vimeo__backdrop"></div>
  <div class="modal__content modal--vimeo__content">
    <div class="modal__content__header">
      <h6></h6>
      {# {% include 'partial/shared/share.twig'with {'card': card} %} #}
      <button class="modal__close">
        {% include 'partial/svgs/close.twig' %}
      </button>
    </div>
    <div id="vimeo-player">
    </div>
  </div>
</div>