.card{
  margin-bottom:12px;
  background:$cream;
  min-height:470px;

  @include mobile{
    min-height:0;
    margin-bottom:20px;
  }
  &--welcome{
    position:relative;
    padding:80px 65px 60px;
    width:100%;
    background:$white;
    @include tablet-portrait{
      padding:45px;
    }
    &:after{
      content:'';
      display:block;
      border:1px solid $charcoal;
      position:absolute;
      top:25px;
      left:25px;
      right:25px;
      bottom:25px;
      z-index:0;
    }
    .card__inner{
      position:relative;
      display:flex;
      z-index:1;
      @include tablet-landscape{
        flex-direction:column;
      }
      h3{
        width:220px;
        margin-right:20px;
        flex:0 0 auto;
        margin-bottom:40px;
        @include tablet-landscape{
          margin-bottom:20px;
          width:100%;
          margin-right:0;
          padding-right:20px;
        }
      }
      &__content{
        margin-top:40px;
        @include tablet-landscape{
          margin-top:0;
        }
      }
      p{
        font-size:20px;
        line-height:30px;
        margin-top:40px;
        @include tablet-landscape{
          font-size:17px;
          line-height:25px;
          margin-top:0;
        }
      }
    }
  }
  &--help{
    height:180px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:$gold;
    text-transform:uppercase;
    color:$white;
    text-align:center;
    min-height:0;
    cursor:pointer;
    .arrow-button{
      margin-top:15px;
      margin-bottom:0;
    }
  }
  &__media{
    display:flex;
    flex-direction:column;
    flex:1;
    @include tablet-portrait{
      height:250px;
    }
    .card__share .share{
      color:$white;
    }
    &__video-player{
      position:relative;
      background:#bec0c2;
      flex:1;
      figure{
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        img{
          position:relative;
          height:100%;
          width:100%;
          object-fit:cover;
          z-index:0;
        }
        &:after{
          content:'';
          display:block;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          background:$gold;
          z-index:1;
          mix-blend-mode:color;
        }
      }
      a{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
      }
      button{
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:115px;
        cursor:pointer;
        svg{
          width:100%;
        }
        @include tablet-portrait{
          width:70px;
        }
      }
    }
  }
  &--video{
    display:flex;
    overflow:hidden;
    @include tablet-portrait{
      flex-direction:column;
    }
    .card__inner{
      flex:1;
      padding:30px 25px;
      display:flex;
      flex-direction:column;
      background:$cream;
      box-shadow:0px 0px 15px rgba(0,0,0,0.125);
      @include tablet-portrait{
        padding:45px 25px 30px
      }
      h3{
        flex:1;
        max-width:95;
        @include tablet-portrait{
          margin-bottom:20px;
        }
      }
      p{
        max-width:240px;
        @include tablet-portrait{
          max-width:100%;
        }
      }
    }
  }
  &--article,
  &--class{
    display:flex;
    flex-direction:column;
  
    overflow:hidden;
    .card__inner{
      flex:1;
      padding:30px 25px;
      display:flex;
      flex-direction:column;
      background:$cream;
      @include tablet-portrait{
        padding-top:45px;
      }
      h3{
        flex:1;
        max-width:95%;
        @include tablet-portrait{
          margin-bottom:20px;
        }
          
      }
      .card__footer{
        padding-top:0;
        border-top:0;
        
      }
    }
    .share{
      position:absolute;
      top:-15px;
      right:-15px;
      width:100%;
      @include tablet-portrait{
        top:-35px;
      }
      a{
        color:$charcoal;
        &:last-of-type{
          margin-right:0;
        }
      }
    }
  }
  &__share{
    display:block;
    width:100%;
    height:70px;
    background:$purple;
    flex:0 0 auto;
    @include tablet-portrait{
      display:none;
    }
  }
  &__mobile-share{
    display:none;
    @include tablet-portrait{
      display:block;
      .share{
        position:absolute;
        right:-15px;
        color:$charcoal;
        width:100%;
        top:-35px;

        a{
          color:$charcoal !important;
        }
      }
    }
  }
  &__slug{
    position:relative;
    width:calc(100% + 10px);
    margin-left:-10px;
    font-size:15px;
    letter-spacing:0.07em;
    line-height:15px;
    padding-bottom:25px;
    border-bottom:1px solid $charcoal;
    margin-bottom:25px;
    text-transform:uppercase;
    @include tablet-portrait{

      padding-bottom:0;
      padding-top:10px;
      border-bottom:0;
      border-top:1px solid $charcoal;
      width:100%;
      margin-left:0;
      margin-bottom:15px;
    }
  }
  &__footer{
    padding-top:15px;
    margin-top:15px;
    margin-bottom:-5px;
    width:100%;
    border-top:1px solid $charcoal;
    font-size: 12px;
    text-transform:uppercase;
    color: #454545;
    a{
      font-size:12px;
      color:$charcoal;
      text-transform:uppercase;
    }
    &__arrow{
      font-size:15px;
    }
  }
  &--past{
    .card__inner,
    .card__media{
      opacity:0.5;
    }
  }
  &--watch{
    .card__inner{
      padding:0;
      &__header{
        width:100%;
        display:flex;
        align-items:center;
        a.service-vimeo-play{
          color:$purple;
          text-transform:uppercase;
          span{
            color:$charcoal;
          }

        }
        .card__action{
          flex:1;
        }
      }
      .card__watch{

        &__inner{
          padding:30px 25px;
        }
        &__main{
          margin-top:30px;
          h3.card__watch__main__time{
            font-size:24px;
            line-height:28px;
            text-transform:uppercase;
            margin-bottom:10px;
          }
          h3:not(.card__watch__main__time){
            font-weight:500;
            margin-bottom:15px;
          }
          &__breakouts{
            .breakout{
              border-top:1px solid $charcoal;
              padding:10px 0;
              display:flex;
              &__time{
                font-weight:100;
                font-size:18px;
                padding-right:30px;
                width:140px;
                flex: 0 0 auto;
                text-transform:uppercase;
                @include mobile{
                  font-size:15px;
                  width:135px;  
                  padding-right:10px;
                }
              }
              &__content{
                flex:1;
                padding-right:10px;

              }
              &__title{
                font-size:20px;
                line-height:22px;
                @include mobile{
                  font-size:18px;
                  line-height:20px;
                }
              }
              &__cta{
                font-size:14px;
                text-transform:uppercase;
                a{
                  color:$charcoal;
                }
              }
            }
          }
        }
      }
      .card__holiday__details{
        padding-bottom:10px;
        border-bottom:1px solid $charcoal;
        text-transform:uppercase;
        letter-spacing:0.07em;
        strong{
          display:block;
        }
      }
      .card__service-type{
        background:$gold;
        height:45px;
        padding:0 20px;
        display:flex;
        align-items:center;
        margin-right:10px;
        text-transform:uppercase;
        color:$white;
        letter-spacing:0.07em;
        @include mobile{
          height:40px;
          padding:2px 12px 0;
        }
        &--young{
          font-size:13px;
          padding-right:10px;
        }
      }
    }
  }
}

.arrow-button{
  text-transform:uppercase;
  color:$white;
}