.mobile-nav{
  display:none;
  @include tablet-portrait{
    display:block;
    position:fixed;
    bottom:100%;
    height:100vh;
    width:100vw;
    background:$cream;
    z-index:-1;
    visibility: hidden;
    transition:all 0s linear 0.5s, bottom 0.5s ease-out;
    overflow-y:auto;
    &--open{
      bottom:0;
      z-index:5;
      visibility:visible;
      transition:all 0s linear 0s, bottom 0.5s ease-out;
      .mobile-nav__close{
        top:20px;
        opacity:1;
        transition: all 0s linear 0s, opacity 0.25s linear 0.5s;
      }
    }
    &__close{
      position:fixed;
      opacity:0;
      top:-100%;
      right:20px;
      width:25px;
      z-index:55;
      transition: all 0s linear 0.5s, opacity 0.25s linear 0s;
      svg{
        width:100%;
      }
    }
    &--help-only{
      .mobile-nav__close{
        top:20px !important;
        
      }
    }
    &__logo{
      height:135px;
      padding-top:40px;
      display:flex;
      justify-content:center;
      align-items:center;
      img{
        mix-blend-mode:multiply;
        transform:translate3d(0,0,0);
      }
    }
    &__options{
      display:flex;
      flex-direction:column;
      width:100%;
      border-top:1px solid $gold;
      a:not(.full-calendar):not(.box-button):not(.question-learn-more):not(.icon-yahoo):not(.icon-ical):not(.icon-google):not(.icon-outlook),
      .mobile-nav__accordion-mover,
      .mobile-nav__donate-wrapper,
      .mobile-nav__accordion-trigger{
        position:relative;
        display:block;
        height:100px;
        border-bottom:1px solid $gold;
        color:$gold;
        display:flex;
        justify-content:center;
        align-items:center;
        text-align:center;
        text-transform:uppercase;
        font-size:15px;
        line-height:18px;
        max-width:calc(100% - 30px);
        width:100%;
        margin:0 auto;
        transition: all 0.25s linear;
        &.active{
          max-width:100%;
          background:$gold;
          color:$white;
        }
      }
      .mobile-nav__accordion-mover{
        position:absolute;
        top:0;
          left:-15px;
          width:calc(100% + 30px);
          max-width:calc(100% + 30px);
          background:$cream;
          
          border-bottom:0;
          height:98px;
          transition:transform 0.25s linear;
        &--fixed{
          position:fixed;
          left:0;
          width:100%;
          z-index:5;
          border-bottom:1px solid $gold;
          
        }
        &--below{
          transform:translateY(-100%);
        }
        
      }
      .mobile-nav__accordion-trigger{
        position:relative;
        svg{
          position:absolute;
          bottom:15px;
          left:50%;
          transform:translateX(-50%);
          opacity:0;
          width:15px;
          transition:opacity 0.25s linear;
        }
        &--open{
          .mobile-nav__accordion-mover{
            border-bottom:1px solid $gold;
            height:100px;
          }
          svg{
            opacity:1;
          }
        }

      }
      .mobile-nav__donate-wrapper{
        border-bottom:0;
      }
    }
  }
  .schedule__version{
    .schedule__holiday{
      margin-top:15px;
    }
    &:before{
      display:none;
    }
  }
  .schedule__content__details{
    border-right:0;
    padding-top:0;
  }
  &__accordion-content{
    max-height:0;
    padding:0 20px;
    overflow:hidden;
    background:$gold;
    // transition:all 0.5s linear;

    &--open{
      margin-top:-2px;
      transition:all 0.5s ease-in-out;

    }
    .modal__content{
      background:pink;
      &__questions{
        width:100%;
        padding:0;
        border-top:0;
        .modal__content__question__expanded{
          position:relative;
          opacity:0;
          overflow:hidden;
          max-height:0;
          position:fixed;
            top:0;
            left:0;
            right:0;
            padding:0;
            background:transparent;
          transition:all 0s linear 0.75s, opacity 0.5s linear 0.25s;
         
          > * {
            opacity:0;
            transition:all 0s linear 0.75s, opacity 0.5s linear;
          }
          p{
            color:$white;
            margin-bottom:15px;
          }
          .modal__content__question__close{
            position:absolute;
            top:15px;
            left:30px;
            width:40px;
            height:40px;
            font-size:20px;
            color:$white;
            z-index:2;
            text-transform:uppercase;
            font-weight:normal;
            svg{
              width:100%;
            }
          }
        }
      }
      &__question{
        width:100%;
        padding:15px 0;
        border:0;
        border-bottom:1px solid $cream;
        height:auto;
        > p {
          opacity:1;
        }
        &--expanded{
          .modal__content__question__expanded{
            bottom:0;
            max-height:100%;
            opacity:1;
            z-index:555;
            padding:60px 30px;
            overflow-y:hidden;
            transition:opacity 0.5s linear;
            background:$gold;
            padding:60px 30px 0;
            > * {
              opacity:1;
              transition:opacity 0.5s linear 0.5s;
            }
            display:flex;
            flex-direction:column;
            button,h5{
              flex:0 0 auto;
            }
            .modal__content__question__expanded__answer{
              flex:1; height:auto; overflow-y:auto;
              padding-bottom:60px;
            }
           
          } 
          > p{
            // opacity:0;
            transition:opacity 0.25s linear;
          }
        }
        &:first-of-type{
          margin-top:20px;
        }
        &:last-of-type{
          border-bottom:0;
          margin-bottom:20px;
        }
        h5{
          margin-bottom:15px;
        }
        .question-learn-more{
          display:block;
          margin:15px 0 0;
          font-size:12px;
          color:$white;
          text-transform:uppercase;
        }
      }
    }
    
  }
  #schedule-content{
    background:$cream;
    .schedule__header{
      padding-bottom:0;
      height:auto;
    }
    .schedule__header__switcher{
      position:relative;
      top:auto;
      left:auto;
      max-width:100%;
      padding-left:0;
      padding-right:0;
      &__button{
        max-width:calc(33.3333% - 5px);
        width:auto;
        flex:1;
        font-size:10px;
      }
    }
    .schedule__holiday{
      margin-top:30px;
      // padding-bottom:60px;
      // border-bottom:1px solid $gold;
    }
  }

  footer{
    @include tablet-portrait-only{
      // position:absolute;
      // bottom:0;
      // left:0;
      // right:0;
    }
  }
}